target
out/

*.mp4
*.jpeg
*.png
sr_client_config.toml
sr_server_config.toml

.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
